# Sloan Digital Sky Survey RD14

### Read the Table

In [6]:
import os
import pandas as pd
import numpy as np
os.chdir('C:/Personal/71053934/Documents/SHAHRZAD/Python/Kaggle/Sloan Digital Sky Survey')

df = pd.read_csv('Skyserver_SQL2_27_2018 6_51_39 PM.csv', skiprows = 1)
df.head()

,objid,ra,dec,u,g,r,i,z,run,rerun,camcol,field,specobjid,class,redshift,plate,mjd,fiberid
0,1237648704577142822,183.531326,0.089693,19.47406,17.04240,15.94699,15.50342,15.22531,752,301,4,267,3722360139651588096,STAR,-0.000009,3306,54922,491
1,1237648704577142859,183.598371,0.135285,18.66280,17.21449,16.67637,16.48922,16.39150,752,301,4,267,363814405953054720,STAR,-0.000055,323,51615,541
2,1237648704577208477,183.680207,0.126185,19.38298,18.19169,17.47428,17.08732,16.80125,752,301,4,268,323274319570429952,GALAXY,0.123111,287,52023,513
3,1237648704577273907,183.870529,0.049911,17.76536,16.60272,16.16116,15.98233,15.90438,752,301,4,269,3722365362331820032,STAR,-0.000111,3306,54922,510
4,1237648704577273909,183.883288,0.102557,17.55025,16.26342,16.43869,16.55492,16.61326,752,301,4,269,3722365912087633920,STAR,0.000590,3306,54922,512

### Separate X and y Columns

In [91]:
y_col = df['class']
y_col
#y = df[y_col]
X = df.drop(df[['class', 'objid', 'specobjid', 'run', 'rerun', 'camcol', 'field']], axis = 1)

In [92]:
#y = pd.DataFrame({'class': ['STAR', 'GALAXY', 'QSO']})
alist = [1,2,3]
y_category = dict(zip(y.unique(), alist))   
y_category

{'GALAXY': 2, 'QSO': 3, 'STAR': 1}

### Split Train and Test Datasets

In [93]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y, random_state = 0)

### Classifier

In [94]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier(n_neighbors = 3)

### Train the Classifier

In [95]:
knn.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=3, p=2,
           weights='uniform')

### Estimate Accuracy of Classifier using Test Data

In [96]:
knn.score(X_test, y_test)

0.77400000000000002